body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #323232; */
}