body, html {
  /* take full page */
  height: 100%;
  /* remove white borders */
  margin: 0;
  padding: 0;
}

/* Move zoom controls to the bottom-right */

.leaflet-control-container .leaflet-top.leaflet-left {
  position: absolute;
  left: auto;
  right: 10px;
  top: auto;
  bottom: 25px
}

.wrapper, #map, .updateTimer {
  position: absolute;
}

.wrapper, #map {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#map {
  height: 100%;
  top: 0;
  left: 0
}

.updateTimer {
  z-index: 100000;
  padding: 10px 10px;
  pointer-events: none;
  bottom: 0;
  left: 0;
}

.updateTimer>* {
  pointer-events: auto;
}